<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
            integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
            crossorigin="anonymous"></script>
</head>
    <nav class="navbar navbar-expand-lg navbar-dark flex-column flex-md-row bd-navbar" style="background-color:#563d7c;" >
        <a class="navbar-brand" href="/" aria-label="Bootstrap">G
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/userList">Users</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown link
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>
        </div>
        <div class="gmail">
            <a class="fb p-2 " href="http://www.google.com" target="_blank"> <img  src="google.png" alt="Google" style="height: 25px;
                outline: none; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; text-decoration: none;"
            />
                <span class="fa fa-facebook"></span>
            </a>
        </div>
        <div class="facebook">
            <a class="fb p-2 " href="http://www.facebook.com" target="_blank"> <img  src="http://go.komfo.com/rs/752-BWV-746/images/facebook-logo-button.png" alt="Facebook" style="height: 20px;
                outline: none; border-right-width: 0; border-bottom-width: 0; border-left-width: 0; text-decoration: none;"
            />
                <span class="fa fa-facebook"></span>
            </a>
        </div>
    </nav>
</div>
</html>